*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, Helvetica, arial, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #34383c;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 25px;
  }
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 30px;
}
.leaderboardMember:hover {
  background-color: #f5f5f5;
  color: #34383c;
}
.leaderboardMemberAvatar{
  border-radius: 50%;
}
